 <!-- Footer -->
 <footer class="page-footer teal darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contenido</h5>
        <p class="grey-text text-lighten-4">Información de footer</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 2</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 3</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Texto
      <a class="grey-text text-lighten-4 right" href="#!">Más links</a>
    </div>
  </div>
</footer>
<!-- Fin del footer -->

<!-- Scripts -->
<!-- JQuery -->
<script type="text/javascript" src="/js/lib/jquery-3.3.1.js"></script>
<!-- Materialize -->
<script type="text/javascript" src="/js/lib/materialize.js"></script>
<!-- Custom -->
<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>