<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Trading Albums</title>

  <!-- Material Font Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
  <!-- Materialize -->
  <link rel="stylesheet" href="/css/lib/materialize.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

  <!-- Navbar -->
  <nav class="transparent">
    <div class="nav-wrapper container ">
      <a href="#!" class="brand-logo black-text">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons black-text">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Sass</a>
        </li>
        <li>
          <a href="#">Components</a>
        </li>
        <li>
          <a href="#">Javascript</a>
        </li>
        <li>
          <a href="#">Mobile</a>
        </li>
      </ul>
      <!-- Contenido de mobile -->
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="#">Components</a>
        </li>
        <li>
          <a href="#">Javascript</a>
        </li>
        <li>
          <a href="#">Mobile</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Final del Navbar -->