<% include partials/header %>

  <!-- Banner -->
  <div class="parallax-container">
    <div class="section">
      <br>
      <br>
      <div class="banner-text col s6">
        <h1 class="header center ">Nombre del sitio</h1>
        <div class="row center">
          <h5 class="header col s12">Aumenta tu coleción intercambiando y comprando tus albumes favoritos en vinilo</h5>
        </div>
        <div class="row center">
          <a class="waves-effect waves-light btn-large brown lighten-4 black-text modal-trigger" href="#modalBanner">Empezar</a>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/vinyl-2722233_1920.jpg">
    </div>
  </div>
  <!-- Banner -->

  <!-- Modal Banner -->
  <div id="modalBanner" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12 m6 center">
          <!-- Entrar -->
          <h4>Entrar</h4>
          <form action="#" method="POST">
            <div class="input-field">
              <input type="email" name="email" id="email">
              <label for="email">Correo Electrónico</label>
            </div>
            <div class="input-field">
              <input type="password" name="password" id="password">
              <label for="password">Contraseña</label>
            </div>
            <button class="waves-effect waves-light btn-large brown lighten-4 black-text">Entrar</button>
          </form>
        </div>
        
        <div class="col s12 m6 center">
          <!-- Registrarse -->
          <h4>Registrarse</h4>
          <form action="#" method="POST">
            <div class="input-field">
              <input type="text" name="username" id="username">
              <label for="usernane">Correo Electrónico</label>
            </div>
            <div class="input-field">
              <input type="email" name="email" id="email">
              <label for="email">Correo Electrónico</label>
            </div>
            <div class="input-field">
              <input type="password" name="password" id="password">
              <label for="password">Contraseña</label>
            </div>
            <button class="waves-effect waves-light btn-large brown lighten-4 black-text">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del modal del banner -->

  <!-- Primera Sección -->
  <div class="container">
    <div class="row">

      <div class="col m4">
        <div class="card">
          <div class="card-content">
            <h2 class="center deep-purple-text">
              <i class="material-icons body-icon">library_music</i>
            </h2>
            <h5 class="center">Cataloga tu Colección</h5>
            <p>
              Enseña a todos tu música favorita y la colección de todos de una manera rápida y conveniente usando nuestro sistema podrás
              ver con quién debes hablar para conseguir los albumes que faltan en tu colección.
            </p>
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card">
          <div class="card-content">
            <h2 class="center deep-purple-text">
              <i class="material-icons body-icon">share</i>
            </h2>
            <h5 class="center">Intercambia Albumes</h5>
            <p>
              Aumenta tu colección exponencialmente con la ayuda de las demás personas, ofrece los albumes que tengas repetidos, que estés
              dispuesto a cambiar o que no quieras tener más para cambiarlos por los que te hagan falta
            </p>
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card">
          <div class="card-content">
            <h2 class="center deep-purple-text">
              <i class="material-icons body-icon">security</i>
            </h2>
            <h5 class="center">Título</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquam placeat perspiciatis natus cupiditate fugiat
              quaerat tenetur, ab sequi quis distinctio culpa omnis debitis expedita, itaque suscipit minus iusto quae.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Final de la primera sección -->

  <!-- Segunda Sección -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="img/vinyl-records-945396_1920.jpg" alt="">
    </div>
  </div>
  <!-- Fin de la segunda sección -->

  <% include partials/footer %>